/**
Default styling
 */

html, body {

}

h1, h2, h3, h4, h5, h6 {

}

/**
Landing page styling
 */

/**
Header
 */

.navbar {
    background-color: #fff;
}

/**
Content
 */

#landing-hero.jumbotron {
    min-height: 75vh;
    display: flex;
    align-items: center;
    background-image: url("../../assets/img/stock/stock-2.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
}

#hero-blocks {
    margin-top: -15vh;
}

#hero-blocks div .item {
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette img {
    width: 100%;
}


/**
Footer
 */

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* Mobiel landscape */
@media (min-width: 481px) and (max-width: 767px) {

}


/* Mobiel */
@media (min-width: 320px) and (max-width: 480px) {

}

/**
Einde landing page styling
 */


/**
register page styling
 */


.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}


/**
Einde landing page styling
 */


